*

.navbar-brand {
    background-color: teal;
    color: white;
    
    }

.jumbotron {
position: absolute;


    }

    .form-group {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        clear: both;

    }

    .btn {
        max-width: 960px;
        margin: 0 auto;
        clear: body;
        background-color: green;
    }